@function px2rem($px, $base-font-size: 46.875px) {
    @return $px / $base-font-size * 1rem;
}

@mixin bg-image($url) {
    background: url($url + "@2x.png") no-repeat 0 center;
}

@mixin bg-img($url) {
    background-image: url($url + "@2x.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}

@mixin border-c($px,$direct) {
    @if $direct == top {
        border-top: $px solid rgba(7,17,27,.1);
    } @else if $direct == bottom {
        border-bottom: $px solid rgba(7,17,27,.1);
    } @else if $direct == right {
        border-right: $px solid rgba(7,17,27,.1);
    } @else if $direct == left {
        border-left: $px solid rgba(7,17,27,.1);
    }

}
@mixin margin($top,$right,$bottom,$left) {
    margin: px2rem($top) px2rem($right) px2rem($bottom) px2rem($left);
}
